body {
	width: 940px;
}

.headerImage {
	width: 134%;
	height: 300px;
}
.photosec{
	width: 200px;
	height: 200px;
	margin-left: 60px;
	position: absolute;
	top: 60px;
}
.div{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%; 
}
.box{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color:white;
	text-decoration: underline;
	
}
main{
	padding: 0;
	width: 940px;
	
}
form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
	
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.send{
	width:40%;
	padding: 15px 0;
	background: rgb(75, 72, 68);
	color: white;
	font-weight: bold;
	font-size: 17px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.send:hover {
	background: rgb(53, 48, 43);
	transform: scale(1);
}

.footer{

	width: 134%;
	height: 300px;
}
.copyright{
	position: absolute;
	bottom	: -700px;
    color:white;
	margin-left: 500px;
	font-size: 20px;
}